<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/fotofavicon.png">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>Contacto</title>
</head>

<body>


    <header>
        <div class="linea-animada">
            <a href="../index.html"><img src="../assets/images/jericoproducttion.jpg" class="logo"
                    alt="logotipo"></a>
        </div>

        <nav class="navbar">


            <input type="checkbox" id="check-menu" class="check-menu">



            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./producto-galeria.html">Galeria</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>

            <label for="check-menu" class="label-check">

                <span class="menu-hamburguesa"></span>
                <span class="linea"></span>
                <span class="linea"></span>
                <span class="linea"></span>

            </label>


        </nav>

    </header>


    <div class="container">

        <div class="cuadrorojo">
            <br>
            Barcelona <br>
            <br>
            <br>
            Navas de Tolosa, 08026 Barcelona
            <br>
            <br>
            700-333-123
        </div>

        <div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7116.314830236482!2d2.1881367618299064!3d41.416610949688334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a32a260a0949%3A0x189b8e35f9d361b1!2sC.%20de%20las%20Navas%20de%20Tolosa%2C%20Barcelona%2C%20Espa%C3%B1a!5e0!3m2!1ses!2sus!4v1725384027805!5m2!1ses!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    

    </div>










    <footer>

        <div>
            <img src="../assets/images/fotografiafooter.webp" alt="logotipo de camara" class="logocam">
        </div>



        <div class="social">

            <p>REDES SOCIALES</p>

            <div class="social-icons">

                <div>
                    <a href="https://www.facebook.com/" target="_blank"><img class="redsocial"
                            src="../assets/images/facebook.webp" alt="logo-facebook"></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/" target="_blank"> <img class="redsocial"
                            src="../assets/images/instagram.webp" alt="logo-instagram"></a>
                </div>
                <div>
                    <a href="https://wa.me/700333123" target="_blank"><img class="redsocial"
                            src="../assets/images/whatsapp.webp" alt="logo-whatsap"></a>
                </div>
            </div>
        </div>





        <div class="contacto">
            <div>
                <img class="iconos-contacto" src="../assets/images/telefono.webp" alt="imagen-telefono">
                <p>700-333-123</p>
            </div>
            <div>
                <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <img class="iconos-contacto"
                        src="../assets/images/correo-electronico.webp" alt="imagen-correo">
                    <p>jericoproduction@production.com</p>
                </a>
            </div>


            <div>
                <a href="https://www.google.es/maps/place/C.+de+las+Navas+de+Tolosa,+Barcelona/@41.4158649,2.1835604,17z/data=!4m6!3m5!1s0x12a4a32a260a0949:0x189b8e35f9d361b1!8m2!3d41.4158609!4d2.1861353!16s%2Fg%2F1hbpwnr9j?hl=es&entry=ttu"
                    target="_blank"><img class="iconos-contacto" src="../assets/images/ubicacion.webp"
                        alt="imagen-ubicacion">
                    <p>Navas de tolosa, España, Barcelona 08026</p>
                </a>
            </div>

        </div>





        <a href="../views/presupuesto-formulario.html" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            FORMULARIO
        </a>



        <div class="copy">
            <p>&copy;TODOS LOS DERECHOS RESERVADOS 2024</p>
        </div>


    </footer>
</body>

</html>