<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/fotofavicon.png">
    <link rel="stylesheet" href="../css/informacion.css">
    <title>Información</title>
</head>

<body>

    <header>
        <div class="linea-animada">
            <a href="../index.html"><img src="../assets/images/jericoproducttion.jpg" class="logo" alt="logotipo"></a>
        </div>

        <nav class="navbar">


            <input type="checkbox" id="check-menu" class="check-menu">



            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./producto-galeria.html">Galeria</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>

            <label for="check-menu" class="label-check">

                <span class="menu-hamburguesa"></span>
                <span class="linea"></span>
                <span class="linea"></span>
                <span class="linea"></span>

            </label>


        </nav>

    </header>

    <article>
        <h1>Nuestro Compromiso Audiovisual</h1>

        <p class="texto">
            <span class="empresa">En <u>Jerico Produccion</u></span>, nos esforzamos por ofrecer un servicio audiovisual
            personalizado y de alta calidad, adaptado a las necesidades de cada cliente. Entendemos que cada proyecto es
            único, por eso brindamos una atención detallada desde el primer contacto, asegurando que tu visión sea
            reflejada con precisión en el resultado final.
            <br><br>
            <span class="titulo-contacto">¿Cómo Contactarnos?</span><br>
            Nos encanta escuchar nuevas ideas. Si estás interesado en nuestros servicios o simplemente deseas obtener
            más información, puedes contactarnos a través de:
            <br><br>
            <span class="contacto-info"><u>Teléfono:</u></span> 700-333-123<br>
            <span class="contacto-info"><u>Correo electrónico:</u></span> jericoproduction@production.com<br>
            <span class="contacto-info"><u>Formulario de contacto</u></span> en nuestra página web.<br><br>
            Nuestro equipo de atención al cliente está disponible de lunes a viernes, de 9:00 a.m. a 6:00 p.m., para
            resolver cualquier duda o consulta que tengas.
            <br><br>
            <span class="titulo-contacto">Presupuestos para Sesiones de Video</span><br>
            Entendemos que cada proyecto audiovisual tiene diferentes requerimientos y presupuestos. Por eso, ofrecemos
            opciones flexibles que se ajustan tanto a pequeñas producciones como a grandes proyectos. Nuestros servicios
            incluyen:
            <br><br>
        <ul class="presupuesto">
            <li>Pequeños presupuestos: Ideales para videos promocionales o redes sociales.</li>
            <li>Proyectos medianos: Sesiones de video corporativas, entrevistas, y eventos.</li>
            <li>Producciones a gran escala: Proyectos cinematográficos, documentales, y spots publicitarios.</li>
        </ul>

        Solicita un presupuesto personalizado y descubre cómo podemos convertir tu visión en realidad, sin importar el
        tamaño de tu proyecto.
        </p>

    </article>
















    <footer>

        <div>
            <a href="#"><img src="../assets/images/fotografiafooter.webp" alt="logotipo de camara" class="logocam"></a>
        </div>



        <div class="social">

            <p>REDES SOCIALES</p>

            <div class="social-icons">

                <div>
                    <a href="https://www.facebook.com/" target="_blank"><img class="redsocial"
                            src="../assets/images/facebook.webp" alt="logo-facebook"></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/" target="_blank"> <img class="redsocial"
                            src="../assets/images/instagram.webp" alt="logo-instagram"></a>
                </div>
                <div>
                    <a href="https://wa.me/700333123" target="_blank"><img class="redsocial"
                            src="../assets/images/whatsapp.webp" alt="logo-whatsap"></a>
                </div>
            </div>
        </div>





        <div class="contacto">
            <div>
                <img class="iconos-contacto" src="../assets/images/telefono.webp" alt="imagen-telefono">
                <p>700-333-123</p>
            </div>
            <div>
                <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <img class="iconos-contacto"
                        src="../assets/images/correo-electronico.webp" alt="imagen-correo">
                    <p>jericoproduction@production.com</p>
                </a>
            </div>


            <div>
                <a href="https://www.google.es/maps/place/C.+de+las+Navas+de+Tolosa,+Barcelona/@41.4158649,2.1835604,17z/data=!4m6!3m5!1s0x12a4a32a260a0949:0x189b8e35f9d361b1!8m2!3d41.4158609!4d2.1861353!16s%2Fg%2F1hbpwnr9j?hl=es&entry=ttu"
                    target="_blank"><img class="iconos-contacto" src="../assets/images/ubicacion.webp"
                        alt="imagen-ubicacion">
                    <p>Navas de tolosa, España, Barcelona 08026</p>
                </a>
            </div>

        </div>





        <a href="../views/presupuesto-formulario.html" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            FORMULARIO
        </a>



        <div class="copy">
            <p>&copy;TODOS LOS DERECHOS RESERVADOS 2024</p>
        </div>


    </footer>
</body>

</html>