<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/fotofavicon.png">
    <link rel="stylesheet" href="../css/servicios.css">
    <title>Servicios</title>
</head>

<body>

    <header>
        <div class="linea-animada">
            <a href="../index.html"><img src="../assets/images/jericoproducttion.jpg" class="logo"
                    alt="logotipo"></a>
        </div>

        <nav class="navbar">


            <input type="checkbox" id="check-menu" class="check-menu">



            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./producto-galeria.html">Galeria</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>


            <label for="check-menu" class="label-check">

                <span class="menu-hamburguesa"></span>
                <span class="linea"></span>
                <span class="linea"></span>
                <span class="linea"></span>

            </label>


        </nav>

    </header>

    <article>
        <h1>Servicios Audiovisual Profesional</h1>
        <h2> Capturando Tus Momentos Más Importantes</h2>
        <p class="texto">

            En nuestro estudio audiovisual, nos dedicamos a transformar tus eventos y proyectos en experiencias visuales
            inolvidables. Con un equipo altamente capacitado y tecnología de punta, incluyendo cámaras de alta
            definición y un estudio profesional completamente equipado, estamos preparados para cubrir una amplia gama
            de necesidades audiovisuales.
            <img class="servicefoto" src="../assets/images/serviciocamara.jpg" alt="lentes-de-camara">
            ¿Tienes una fiesta, un evento de baile, o un anuncio que quieres destacar? Nuestro enfoque personalizado
            garantiza que cada detalle se capture con la mayor precisión y calidad. Trabajamos estrechamente contigo
            para entender tus objetivos y entregar un producto final que no solo cumpla, sino que supere tus
            expectativas.

            La seguridad y la confianza son pilares fundamentales de nuestro servicio. Nos aseguramos de que todo el
            proceso, desde la planificación hasta la entrega final, se realice con la máxima transparencia y
            profesionalismo. Con nosotros, puedes estar seguro de que tus recuerdos y mensajes quedarán en manos
            expertas, listos para ser compartidos y celebrados.
            <img class="servicefoto" src="../assets/images/servicioman.jpg" alt="hombre-haciendo-fotos">


            El Proceso Creativo en Nuestro Estudio Donde Cada Detalle Cuenta
            <br>

            Trabajar en nuestro estudio es una experiencia que combina creatividad, precisión y tecnología de
            vanguardia. Desde el momento en que cruzas la puerta, nuestro equipo se dedica a entender tu visión y a
            convertirla en realidad.

            Preproducción: Planificación y Conceptualización
            Todo comienza con una sesión de planificación detallada. Escuchamos tus ideas, discutimos el propósito del
            proyecto y establecemos un concepto claro. Ya sea para una sesión de fotos, un video promocional o una
            grabación de un evento, cada detalle se diseña cuidadosamente, desde la selección de fondos y escenarios
            hasta la iluminación y los ángulos de cámara.

            Producción: Acción en el Estudio
            Una vez que todo está planificado, pasamos a la acción. Nuestro estudio está equipado con cámaras de alta
            definición, sistemas de iluminación ajustables y tecnología avanzada para asegurar que cada toma sea
            perfecta. Durante la sesión, nuestro equipo dirige y ajusta cada aspecto técnico, asegurándose de que la
            calidad visual sea inmejorable y que tu visión cobre vida con total claridad.

            Postproducción: Perfeccionamiento y Edición
            Después de la sesión, comienza la magia de la postproducción. Aquí es donde las imágenes y videos toman
            forma definitiva. Utilizamos software de edición profesional para retocar, ajustar colores, añadir efectos y
            realizar cualquier otra mejora que sea necesaria. El resultado final es un producto pulido, listo para
            impactar a tu audiencia.

            Entrega: Tu Visión Hecha Realidad
            Finalmente, te entregamos un trabajo terminado que refleja fielmente lo que imaginaste. Nos aseguramos de
            que estés completamente satisfecho con el resultado, ya sea que necesites las imágenes o videos para una
            campaña, un evento o cualquier otra finalidad.





        </p>
    </article>






    <footer>

        <div>
            <img src="../assets/images/fotografiafooter.webp" alt="logotipo de camara" class="logocam">
        </div>



        <div class="social">

            <p>REDES SOCIALES</p>

            <div class="social-icons">

                <div>
                    <a href="https://www.facebook.com/" target="_blank"><img class="redsocial"
                            src="../assets/images/facebook.webp" alt="logo-facebook"></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/" target="_blank"> <img class="redsocial"
                            src="../assets/images/instagram.webp" alt="logo-instagram"></a>
                </div>
                <div>
                    <a href="https://wa.me/700333123" target="_blank"><img class="redsocial"
                            src="../assets/images/whatsapp.webp" alt="logo-whatsap"></a>
                </div>
            </div>
        </div>





        <div class="contacto">
            <div>
                <img class="iconos-contacto" src="../assets/images/telefono.webp" alt="imagen-telefono">
                <p>700-333-123</p>
            </div>
            <div>
                <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <img class="iconos-contacto"
                        src="../assets/images/correo-electronico.webp" alt="imagen-correo">
                    <p>jericoproduction@production.com</p>
                </a>
            </div>


            <div>
                <a href="https://www.google.es/maps/place/C.+de+las+Navas+de+Tolosa,+Barcelona/@41.4158649,2.1835604,17z/data=!4m6!3m5!1s0x12a4a32a260a0949:0x189b8e35f9d361b1!8m2!3d41.4158609!4d2.1861353!16s%2Fg%2F1hbpwnr9j?hl=es&entry=ttu"
                    target="_blank"><img class="iconos-contacto" src="../assets/images/ubicacion.webp"
                        alt="imagen-ubicacion">
                    <p>Navas de tolosa, España, Barcelona 08026</p>
                </a>
            </div>

        </div>





        <a href="../views/presupuesto-formulario.html" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            FORMULARIO
        </a>



        <div class="copy">
            <p>&copy;TODOS LOS DERECHOS RESERVADOS 2024</p>
        </div>


    </footer>

 
</body>

</html>