<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/fotofavicon.png">
    <link rel="stylesheet" href="../css/testimonios.css">
    <title>Testimonios</title>
</head>

<body>


    <header>
        <div class="linea-animada">
            <a href="../index.html"><img src="../assets/images/jericoproducttion.jpg" class="logo" alt="logotipo"></a>
        </div>

        <nav class="navbar">


            <input type="checkbox" id="check-menu" class="check-menu">



            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./producto-galeria.html">Galeria</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>

            <label for="check-menu" class="label-check">

                <span class="menu-hamburguesa"></span>
                <span class="linea"></span>
                <span class="linea"></span>
                <span class="linea"></span>

            </label>


        </nav>

    </header>




    <div class="contenedor">
        <div class="container2">
            <div class="card">
                <img class="usuario" src="../assets/images/cliente1.png" alt="imagen-cliente1">
                <div class="intro">
                    <h1>Peter G.</h1>
                    <p class="texto">
                        “Trabajar con Jerico Producción ha sido una experiencia increíble. Capturaron a la perfección el
                        estilo y la emoción que quería para mi proyecto. Su equipo fue muy profesional y comprometido
                        desde el primer momento. ¡No podría estar más satisfecha con el resultado!”
                    </p>

                </div>
            </div>

            <div class="card">
                <img class="usuario" src="../assets/images/cliente2.png" alt="imagen-cliente2">
                <div class="intro">
                    <h1>Anna G.</h1>
                    <p class="texto">
                        “Contratar a Jerico Producción para mi evento fue una de las mejores decisiones que tomé. No
                        solo cumplieron con el cronograma, sino que la calidad del video final superó mis expectativas.
                        Todo el equipo fue atento y siempre estuvo dispuesto a resolver cualquier duda.”

                    </p>

                </div>

            </div>

            <div class="card">
                <img class="usuario" src="../assets/images/cliente3.png" alt="imagen-cliente3">
                <div class="intro">
                    <h1>Jose R.</h1>
                    <p class="texto">
                        “La atención al detalle de Jerico Producción es impecable. Su equipo se aseguró de que cada
                        aspecto de la filmación fuera perfecto, y el resultado final fue simplemente asombroso.
                        Definitivamente volveré a trabajar con ellos para futuros proyectos.”

                    </p>

                </div>

            </div>
        </div>
    </div>










    <footer>

        <div>
            <img src="../assets/images/fotografiafooter.webp" alt="logotipo de camara" class="logocam">
        </div>



        <div class="social">

            <p>REDES SOCIALES</p>

            <div class="social-icons">

                <div>
                    <a href="https://www.facebook.com/" target="_blank"><img class="redsocial"
                            src="../assets/images/facebook.webp" alt="logo-facebook"></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/" target="_blank"> <img class="redsocial"
                            src="../assets/images/instagram.webp" alt="logo-instagram"></a>
                </div>
                <div>
                    <a href="https://wa.me/700333123" target="_blank"><img class="redsocial"
                            src="../assets/images/whatsapp.webp" alt="logo-whatsap"></a>
                </div>
            </div>
        </div>





        <div class="contacto">
            <div>
                <img class="iconos-contacto" src="../assets/images/telefono.webp" alt="imagen-telefono">
                <p>700-333-123</p>
            </div>
            <div>
                <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <img class="iconos-contacto"
                        src="../assets/images/correo-electronico.webp" alt="imagen-correo">
                    <p>jericoproduction@production.com</p>
                </a>
            </div>


            <div>
                <a href="https://www.google.es/maps/place/C.+de+las+Navas+de+Tolosa,+Barcelona/@41.4158649,2.1835604,17z/data=!4m6!3m5!1s0x12a4a32a260a0949:0x189b8e35f9d361b1!8m2!3d41.4158609!4d2.1861353!16s%2Fg%2F1hbpwnr9j?hl=es&entry=ttu"
                    target="_blank"><img class="iconos-contacto" src="../assets/images/ubicacion.webp"
                        alt="imagen-ubicacion">
                    <p>Navas de tolosa, España, Barcelona 08026</p>
                </a>
            </div>

        </div>





        <a href="../views/presupuesto-formulario.html" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            FORMULARIO
        </a>



        <div class="copy">
            <p>&copy;TODOS LOS DERECHOS RESERVADOS 2024</p>
        </div>


    </footer>
</body>

</html>